   <nav class="top-nav-bar">
       <div class="input-container">
           <img class="icon"  src="/assets/search-bar/bx-search.png" alt="Search Icon">
           <input class="input" placeholder="Search">
       </div>
       <div class="quick-action">
           <div class="search-bar-icons">
               <img  src="/assets/search-bar/language.svg" alt="Language">
               <img  src="/assets/search-bar/categories.svg" alt="categories">
               <img  src="/assets/search-bar/mode.svg" alt="Switch mode">
               <img  src="/assets/search-bar/notifications.svg" alt="Notifications">
           </div>
           <div class="profile-section">
               <div class="picture">
                   <img  src="/assets/search-bar/avatar.svg" alt="Profile Image">
                   <div class="status"></div>
               </div>
               <div class="user-details">
                   <p class="name">John Abraham</p>
                   <p class="title">Admin</p>
               </div>
               <span class="arrow"><img src="/assets/left-nav/arrow-right.svg" alt="right arrow"></span>
           </div>
       </div>
   </nav>