.actions {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  hgroup h3 {
    padding: 10px;
    font-family: Roboto400;
    font-size: 1.1em;
    color: #788693;
  }
  hgroup p {
    padding: 5px 10px;
    font-size: 1em;
    color: #a1abb4;
    font-family: Roboto400;
  }
  .actions .buttons {
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
  .actions .buttons .btn-add-role {
    display: flex;
    background-color: #f44848;
    border: 1px solid #f44848;
    color: rgba(255, 255, 255, 0.828);
    border-radius: 8px;
    height: 38px;
    width: 190px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .actions .buttons .btn-add-role span {
    padding-left: 8px;
  } 
  .card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 15px;
    color: #738096;
  }