<div class="card">
    <div class="heading">
      <img alt="Employee Avatar" src="{{employees.Profilepicture}}">
      <div>
        <h4>{{employees.Name}}</h4>
        <p>{{employees.RoleName}}</p>
      </div>
    </div>
    <div>
      <div class="information">
        <img class="id-icon" src="/assets/roles-details/emp-id.svg" alt="Employee Id Icon">
        <span>{{employees.Id}}</span>
      </div>
      <div class="information">
        <img src="/assets/roles-details/email-icon.svg" alt="Email Icon">
        <span>{{employees.Email}}</span>
      </div>
      <div class="information">
        <img src="/assets/roles-details/team logo.svg" alt="Team Icon">
        <span>{{employees.DepartmentName}}</span>
      </div>
      <div class="information">
        <img src="/assets/roles-details/location.svg" alt="Location Icon">
        <span>{{employees.LocationName}}</span>
      </div>
    </div>
    <div class="view">
      <a href="/components/role-page/index.html"><span>View</span></a>
      <img src="/assets/roles-details/right arrow.svg" alt="Right Arrow Icon">
    </div>
  </div>
