.card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 15px;
    color: #738096;
  }
  .card {
    border: 1.5px solid #d8dbe0;
    border-radius: 8px;
    padding: 35px 20px 20px 20px;
  }
  .card .heading {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    color: black;
    font-size: 0.9em;
  }
  .card .heading img {
    height: 20px;
  }
  .details .item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    font-size: 0.9em;
  }
  .item .title {
    display: flex;
  }
  .item .title span {
    padding-left: 2px;
  }
  .item .icons {
    position: relative;
    display: flex;
  }
  .item .icons img {
    height: 17px;
    position: absolute;
    border: 1.5px solid white;
    border-radius: 10px;
  }
  .icon-1 {
    right: 36px;
  }
  .icon-2 {
    right: 27px;
  }
  .icon-3 {
    right: 18px;
  }
  .icon-4 {
    right: 9px;
  }
  .total-count {
    height: 17px;
    width: 17px;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    right: 0;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view-all {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .view-all span {
    padding-right: 5px;
    font-size: 0.8em;
    color: grey;
    cursor: pointer;
  }