/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Roboto300;
    src: url(/assets/fonts/Roboto-Light.ttf);
  }
  @font-face {
    font-family: Roboto400;
    src: url(/assets/fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: Roboto500;
    src: url(/assets/fonts/Roboto-Medium.ttf);
  }
  @font-face {
    font-family: Roboto700;
    src: url(/assets/fonts/Roboto-Bold.ttf);
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  app-root{
    display: grid;
    grid-template-columns: 18.75% 81.25%;
    font-size: 14px;
    font-family: Roboto500;
    background-color: #fcfcfc;
  }
  main{
    padding: 15px;
  }